# 1. Default behavior
* text=auto

# 2. Scripts and Notebooks
*.ipynb text eol=lf
*.py text eol=lf
*.r text eol=lf
*.R text eol=lf

# 3. Data and GIS text files 
*.csv text eol=lf
*.json text eol=lf
*.geojson text eol=lf
*.kml text eol=lf

# 4. Documentation and Environments
*.md text eol=lf
*.txt text eol=lf
*.yaml text eol=lf
*.yml text eol=lf

# 5. Windows-specific batch files
*.bat text eol=crlf
